body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}
nav {
  position: sticky;
  top: 0;
  background-color: aquamarine;
  padding: 15px 0;
  text-align: center;
  z-index: 1000;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 8px 15px;
  border: 1px solid white;
  border-radius: 8px;
}
nav a :hover {
  background-color: #77f1c9;
  color: black;
}
.section {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 15px;
  line-height: 1.7;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.section h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}
.section p {
  font-size: 30px;
  text-align: center;
  color: black;
}
.section ul {
  padding-left: 0;
  list-style-type: none;
  text-align: center;
  font-size: 30px;
}
.section img {
  width: 300px;
  height: 400px;
  border-radius: 12px;

  box-shadow: 0 8px 20px;

  transition: transform 0.3s, box-shadow 0.3s;
  grid-template-rows: repeat(3, 1fr);
}
.section img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 25px;
}
.footer {
  width: 100%;
  padding: 20px;
  background-color: rgb(78, 209, 165);
  display: flex;
  justify-content: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-top: 30px;
}
.back-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(251, 250, 255);
  background-color: rgb(101, 112, 209);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.back-button:hover {
  background-color: rgb(81, 191, 235);
  transform: scale(1.05);
}
.page3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  transition: cubic-bezier(0.55, 0.085, 0.68, 0.53), box-shadow 0.5s;
}
.page3:hover {
  background-color: rgb(17, 165, 165);
  box-shadow: inset 0 0 50px rgb(236, 237, 240);
}
.personal {
  height: 100px;
  width: auto;
  background-color: aqua;
  font-size: 18px;
  padding: 100px 100px;
}
.section ol {
  padding-left: 0;
  list-style-type: square;
  text-align: left;
  font-size: 30px;
}
.page5 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page5 body {
  display: flex;
  min-height: 100px;
}
.page5 .contact-form {
  padding: 20px 25px;
  background-color: antiquewhite;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 15px rgb(130, 17, 165);
}
.page5 h2 {
  text-align: center;
  border-collapse: collapse;
}
.page5 table {
  width: 100%;
  border-collapse: collapse;
}
.page5 td {
  padding: 8px 0;
}
.page5 input,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: #222 1px;
  box-sizing: border-box;
}
